@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.container{
    width: 100%;
    height: 100vh;
}

.header{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 652px;
    background: url("./images/mobile/image-hero.jpg") no-repeat;
    background-size: 100%;
}

.header-fline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-div button{
    background: none;
}

.menu{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.msg-header{
    margin-top: 180px;
    min-width: 170px;
    max-width: 310px;
    padding: 20px;
    border: 1px solid var(--white);
}

.msg-header p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    color: var(--white);
    text-transform: uppercase;
    min-width: 150px;
    max-width: 266px;
}

.content{
    padding: 30px;

}

.content img{
    width: 100%;
}

.tittle-div{
    margin: 35px 0 15px;
}

.tittle{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.text-div p{
    text-align: center;
    font-size: 16px;
    font-family: 'Alata', sans-serif;
    color: var(--darkGray);
    line-height: 25px;
}

.second-tittle{
    margin: 50px 0 20px;
}

.images-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.desc-img{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    box-shadow: rgb(12, 12, 12) 22px 0px 100px inset;
    width: 100%;
    height: 116px;
    margin: 10px 0;
    padding: 20px;
}

.deep-earth{
    background: url("./images/mobile/image-deep-earth.jpg") no-repeat;
    background-size: 100%;
}

.night-arcade{
    background: url("./images/mobile/image-night-arcade.jpg") no-repeat;
    background-size: 100%;
}

.soccer-team{
    background: url("./images/mobile/image-soccer-team.jpg") no-repeat;
    background-size: 100%;
}

.the-grid{
    background: url("./images/mobile/image-grid.jpg") no-repeat;
    background-size: 100%;
}

.from-up-vr{
    background: url("./images/mobile/image-from-above.jpg") no-repeat;
    background-size: 100%;
}

.pocket-borealis{
    background: url("./images/mobile/image-pocket-borealis.jpg") no-repeat;
    background-size: 100%;
}

.the-curiosity{
    background: url("./images/mobile/image-curiosity.jpg") no-repeat;
    background-size: 100%;
}

.fisheye{
    background: url("./images/mobile/image-fisheye.jpg") no-repeat;
    background-size: 100%;
}

.desc-img p{
    text-transform: uppercase;
    text-align: left;
    width: 120px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: var(--white);
    text-shadow: #000 2px 2px 4px;
}

.see-all-div{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-all{
    text-transform: uppercase;
    padding: 10px 55px;
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 0px;
    background: var(--white);
}

.see-all:hover{
    color: var(--white);
    background: var(--black);
}

.footer{
    padding: 30px;
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul{
    list-style: none;
}

.footer ul li{
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    margin: 10px 0;
}

.footer ul li a{
    text-decoration: none;
    color: var(--white);
}

.social-medias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-md{
    margin: 0 10px;
}

.copyright span{
    font-family: 'Alata', sans-serif;
    color: var(--veryDarkGray);
}